a, a:hover {
  font-weight: normal;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

/* header */
.wp-block-site-title {
  font-weight: normal;
}
/* main */

main {
  min-height: 75vh;
}

h2 {
  font-size: calc(var(--wp--preset--font-size--large) * 0.75);
}

h3 {
  font-size: calc(var(--wp--preset--font-size--large) * 0.65);
}

.wp-block-code {
  padding: calc((var(--wp--preset--spacing--30) + 0.75rem) * 0.5);
}

/* others */
.height-2 {
  height: 2rem;
  overflow-y: hidden;
}
