@import "./compact-style.css";

body {
  min-height: 100vh;
}

header {
  height: 5vh;
}

main {
  min-height: 90vh;
}

h2 {
  font-size: calc(var(--wp--preset--font-size--large) * 0.75);
}

h3 {
  font-size: calc(var(--wp--preset--font-size--large) * 0.65);
}



a,
a:hover {
  font-weight: normal;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-decoration: none !important;
}

/* header */
.wp-block-site-title {
  font-weight: normal;
}